<h1 class="display-3">
    Direttive strutturali
</h1>
<p>
    Le direttive strutturali ci consentono di modificare in modo dinamico la struttura della pagina, ovvero aggiungere o rimuovere tag in modo dinamico.
</p>

<div>
    <h2 class="display-6">La direttiva if</h2>
    <p>
        <b>if</b> ci consente di visualizzare o meno oppure scegliere fra due blocchi HTML al verificarsi di una condizione.
    </p>

    <p><b>Esempio 1</b></p>
    <p>
        Il paragrafo in basso viene aggiunto al DOM se il valore del signal è true, altrimenti non viene aggiunto nulla:
    </p>
</div>
<div>
    <button class="btn btn-primary" (click)="toggleVisualizza()">
        @if (visualizza()) {Nascondi} @else {Mostra}
    </button>
</div>
@if (visualizza()) {
    <p>Questo è un paragrafo che appare e scompare.</p>
}

<div>
    <p><b>Esempio 2</b></p>
    <p>
        Decidiamo se visualizzare un'immagine oppure un testo in base alla scelta fatta dall'utente:
    </p>
</div>
<div class="row">
    <div class="col-sm-3">
        <div>
            <button class="btn btn-primary" (click)="vaiAImmagine()">Immagine</button>
        </div>
    </div>
    <div class="col-sm-3">
        <div>
            <button class="btn btn-primary" (click)="vaiATesto()">Testo</button>
        </div>
    </div>
    <div class="col-sm-6">
        <div>
            <!-- Visulizzo l'immagine o il testo a seconda del valore del signal: immagineOTesto -->        
             @if(immagineOTesto() == 'immagine') {
                <img src="/rubik.png" class="img-fluid img-thumbnail">
             }
             @else {
                <p class="lead">Cubo di Rubik, visualizzato in alternativa all'immagine</p>
             }
        </div>
    </div>
</div>

<div>
    <h2 class="display-6">La direttiva for</h2>
    <p>
        <b>for</b> consente di iterare su un array, aggiungendo tanti blocchi html quanti sono gli elementi dell'array.
    </p>
    
    <p><b>Esempio 3</b></p>
    <p>
        Visualizzo un elenco puntato con i nomi presenti nell'array gestito dal signal:
    </p>
</div>
<div>
    <div class="row">
        <div class="col-sm-6">
            <div>
                <div class="mb-3">
                    <label for="inName" class="form-label">Nome</label>
                    <input type="text" class="form-control" placeholder="Aggiungi un nome..." #inName>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div>
                <button class="btn btn-primary" (click)="aggiungiNome(inName)">Aggiungi</button>
            </div>
        </div>
    </div>
    <div class="mt-5 mb-5 col-sm-6">
        @for(nome of nomi(); track nome) {
            @if (indiceModifica() === $index) {
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item flex-fill">
                        <input class="form-control" type="text" [value]="nome" #inNuovoNome>
                    </li>
                    <li class="list-group-item"><button class="btn btn-primary" (click)="salva(inNuovoNome.value ,$index)">Salva</button></li>
                    <li class="list-group-item"><button class="btn btn-secondary" (click)="annulla()">Annulla</button></li>
                </ul>
            }
            @else {
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item flex-fill">{{nome}}</li>
                    <li class="list-group-item"><button class="btn btn-danger" (click)="eliminaNome($index)">Elimina</button></li>
                    <li class="list-group-item"><button class="btn btn-warning" (click)="attivaModifica($index)">Modifica</button></li>
                </ul>
            }
        }
    </div>
</div>

<div>
    <h2 class="display-6">La direttiva switch</h2>
    <p>Switch consente di inserire blocchi diversi in base al valore di una variabile</p>
</div>
<div class="row">
    <div class="col">
        <button class="btn btn-primary" (click)="setStudente()">Studente</button>
        <button class="btn btn-primary" (click)="setDocente()">Docente</button>
        <button class="btn btn-primary" (click)="setGenitore()">Genitore</button>
        <button class="btn btn-primary" (click)="setAltro()">Altro</button>
    </div>
</div>

<div class="container">
    @switch (tipoUtente()) {
        @case ('studente') {
            <p>Ciao, studente</p>
        }
        @case ('docente') {
            <p>Buongiorno, prof!</p>
        }
        @case ('genitore') {
            <p>Benvenuto, genitore</p>
        }
        @case ('altro') {
            <p>Non ti conosco...</p>
        }
    }
</div>