<h1 class="display-3">
    Direttive strutturali
</h1>
<p>
    Le direttive strutturali ci consentono di modificare in modo dinamico la struttura della pagina, ovvero aggiungere o rimuovere tag in modo dinamico.
</p>
<h2 class="display-5">La direttiva if</h2>
<p>
    <b>if</b> ci consente di visualizzare o meno oppure scegliere fra due blocchi HTML al verificarsi di una condizione.
</p>

<p><b>Esempio 1</b></p>
<p>
    Il pargrafo in basso viene aggiunto al DOM se il valore del signal è true, altrimenti non viene aggiunto nulla:
</p>
<div>
    <button class="btn btn-primary" (click)="toggleVisualizza()">
        @if (visualizza()) {Nascondi} @else {Mostra}
    </button>
</div>
@if (visualizza()) {
    <p>Questo è un paragrafo che appare e scompare.</p>
}

<p><b>Esempio 2</b></p>
<p>
    Decidiamo se visualizzare un'immagine oppure un testp in base alla scelta fatta dall'utente:
</p>
<div class="row">
    <div class="col-sm-3">
        <div>
            <button class="btn btn-primary" (click)="vaiAImmagine()">Immagine</button>
        </div>
    </div>
    <div class="col-sm-3">
        <div>
            <button class="btn btn-primary" (click)="vaiATesto()">Testo</button>
        </div>
    </div>
    <div class="col-sm-6">
        <div>
            <!-- Visulizzo l'immagine o il testo a seconda del valore del signal: immagineOTesto -->        
             @if(immagineOTesto() == 'immagine') {
                <img src="/rubik.png" class="img-fluid img-thumbnail">
             }
             @else {
                <p class="lead">Cubo di Rubik, visualizzato in alternativa all'immagine</p>
             }
        </div>
    </div>
</div>

<h2 class="display-5">La direttiva for</h2>
<p>
    <b>for</b> consente di iterare su un array, aggiungendo tanti blocchi html quanti sono gli elementi dell'array.
</p>

<p><b>Esempio 3</b></p>
<p>
    Visualizzo un elenco puntato con i nomi presenti nell'array gestito dal signal:
</p>
<div class="row">
    <div class="col-sm-6">
        <div>
            <div class="mb-3">
                <label for="inName" class="form-label">Nome</label>
                <input type="text" class="form-control" placeholder="Aggiungi un nome..." #inName>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div>
            <button class="btn btn-primary" (click)="aggiungiNome(inName)">Aggiungi</button>
        </div>
    </div>
</div>
<div>
    <ul>
        @for(nome of nomi(); track nome) {
            <li>{{nome}}</li>
        }
    </ul>
</div>